<br />
<h3 class="titulo">
  Esta escuela a sido aprobada por las siguientes entidades
</h3>
<br />
<p class="parrafo">
  Nos encontramos hoy aquí reunidos para celebrar las valiosas afiliaciones que
  nuestra querida Escuela Secundaria N°6 ha logrado en este último año.
  <br />
  Gracias al apoyo y compromiso de todos ustedes, hemos podido fortalecer
  nuestra institución y brindar a nuestros estudiantes las mejores oportunidades
  para su desarrollo integral.
</p>
<div class="container">
  <div>
    <a
      href="https://buenosaires.gob.ar/ministerio-de-educacion"
      target="_blank"
    >
      <img
        class="gob-logo"
        src="../../../assets/images/afiliaciones/gobierno.jpg"
        alt=""
      />
    </a>
  </div>
  <div>
    <a href="https://www.uba.ar" target="_blank">
      <img
        class="uba-logo"
        src="../../../assets/images/afiliaciones/uba.jpg"
        alt=""
      />
    </a>
  </div>
  <div>
    <a href="https://unahur.edu.ar" target="_blank">
      <img
        class="hur-logo"
        src="../../../assets/images/afiliaciones/unahur.jpg"
        alt=""
      />
    </a>
  </div>
  <div class="">
    <a href="https://utn.edu.ar/es/" target="_blank">
      <img
        class="utn-logo"
        src="../../../assets/images/afiliaciones/utn-logo.jpg"
        alt=""
      />
    </a>
  </div>
</div>

<div class="container-2">
  <h3 class="titulo-2">Proyectos Futuros</h3>
  <p class="parrafo">
    Mirando hacia el futuro, nos enorgullece compartir con ustedes algunos de
    los proyectos que estamos desarrollando para seguir mejorando la calidad
    educativa de nuestra escuela: Implementación de un nuevo programa de
    educación en STEM: Este programa permitirá a nuestros estudiantes adquirir
    habilidades esenciales en ciencia, tecnología, ingeniería y matemáticas,
    preparándolos para los desafíos del siglo XXI. Renovación de las
    instalaciones del laboratorio de ciencias: Con el objetivo de brindar un
    espacio más moderno y equipado, estamos trabajando en la renovación de
    nuestro laboratorio de ciencias, donde los estudiantes podrán realizar
    experimentos y desarrollar su curiosidad científica. Creación de un programa
    de tutorías entre pares: Fomentaremos el aprendizaje colaborativo y el apoyo
    mutuo entre nuestros estudiantes mediante la creación de un programa de
    tutorías entre pares, donde los alumnos de cursos superiores podrán ayudar a
    aquellos que lo necesiten.
  </p>
</div>

<div class="container-3">
  <h3 class="titulo-3">Novedades</h3>
  <p class="parrafo">
    Nos complace anunciar las siguientes novedades: Participación en
    un concurso internacional de robótica: Un equipo de nuestros estudiantes ha
    sido seleccionado para participar en un prestigioso concurso internacional
    de robótica. Estamos muy orgullosos de su talento y dedicación, y les
    deseamos el mayor de los éxitos en esta competencia. Visita de un reconocido
    autor: La próxima semana tendremos la oportunidad de recibir en nuestra
    escuela a un reconocido autor, quien ofrecerá una charla inspiradora a
    nuestros estudiantes y compartirá con ellos su experiencia en el mundo de la
    literatura. Becas para estudiantes destacados: Gracias al apoyo de empresas
    locales, hemos podido crear un programa de becas para estudiantes destacados
    en diferentes áreas, como el deporte, las artes y las ciencias.
  </p>
</div>

<p class="end"><a href="">Volver al inicio</a></p>
